[submodule "zsh_custom/plugins/virtualenv-prompt"]
	path = zsh_custom/plugins/virtualenv-prompt
	url = https://github.com/tonyseek/oh-my-zsh-virtualenv-prompt.git
[submodule "zsh_custom/plugins/zsh-syntax-highlighting"]
	path = zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh_custom/plugins/autoenv"]
	path = zsh_custom/plugins/autoenv
	url = https://github.com/horosgrisa/autoenv
[submodule "zsh_custom/completions/ansible-zsh-completion"]
	path = zsh_custom/completions/ansible-zsh-completion
	url = https://github.com/nojanath/ansible-zsh-completion.git
[submodule "zsh_custom/plugins/ansible-zsh-completion"]
	path = zsh_custom/plugins/ansible-zsh-completion
	url = https://github.com/nojanath/ansible-zsh-completion.git
[submodule "base16-gnome-terminal"]
	path = base16-gnome-terminal
	url = git@github.com:chriskempson/base16-gnome-terminal.git
