[Desktop Entry]
Name=Activities
Comment=Show Windows & Workspaces
GenericName=Activities
Exec=xdotool key super
Icon=emblem-photos-symbolic
Type=Application
StartupNotify=true
Categories=GNOME;
MimeType=text/plain;
